.content__slider {
  margin-top: 166px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media (max-width: 1279px) {
  .content__slider {
    margin-top: 205px;
  }
}

@media (max-width: 833px) {
  .content__slider {
    order: 0;
    margin-top: 54px;
  }
}