.content__title {
  margin: 0 0 24px 0;
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  max-width: 480px;
}

@media (max-width: 1279px) {
  .content__title {
    margin-bottom: 36px;
    max-width: 427px;
  }
}

@media (max-width: 833px) {
  .content__title {
    font-size: 36px;
    line-height: 43.88px;
    margin-left: 13px;
    margin-bottom: 22px;
  }
}
